:root {
    --body: rgb(198, 211, 174);
    --add-button: rgb(70, 107, 0);
    --shadow: rgb(209, 209, 209);
    --gaps: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body);
}

a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gaps);
    grid-template-rows: repeat(3, auto);
    min-height: 100vh;
}

.top-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100vw;
    box-shadow: 0 0 10px 0 grey;
    padding: 10px 10px;
}

.logo {
    font-size: 2.5rem;
    font-weight: 900;
}

.navigation-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 8px 24px;
    flex: 1;
}

.other {
    display: flex;
    gap: var(--gaps);
}

.content {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: white;
    margin-top: auto;
    text-align: center;
    width: 100vw;
    box-shadow: 0 0 10px 0 var(--shadow);
}

.form-container {
    display: none;
    position: fixed;
    top: 125px;
    background-color: rgb(60, 92, 0);
    box-shadow: 0 0 10px 0 grey;
    border-radius: 10px;
    color: white;
}

button {
    color: white;
    border: none;
    font-weight: bold;
    opacity: 0.7;
    padding: 10px 20px;
    border-radius: 10px;
}

.add-book-form {
    max-width: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.add-book-form > h1 {
    align-self: center;
    margin-bottom: 10px;
}

.add-book-form > .buttons {
    display: flex;
    justify-content: center;
    gap: 5px;
}


.add-book-form button {
    background-color: rgb(207, 124, 0);
    gap: var(--gaps);
    flex: 1;
    margin-top: 10px;
}


input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    border-radius: 10px;
}

input::placeholder {
    color: rgb(135, 141, 124);
}

input:focus {
    outline: none;
}

button.read {
    background-color: rgb(0, 118, 173);
}

button.remove, .add-book-form button.close  {
    background-color: rgb(182, 0, 0);
}

button.add-book {
    background-color: var(--add-button);
    font-size: 1rem;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 0 0 10px 0 var(--shadow);
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

.books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--gaps);
    margin: 20px;
}

.book {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--shadow);
    padding: var(--gaps) 40px;
}

.book .buttons {
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
    gap: 5px;
}

.book > .buttons > button {
    flex: 1;
}

.warning {
    align-self: center;
    background: rgba(255, 0, 0, 0.6);
    margin-top: -15px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    max-width: 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 5px;
}

.footer > a {
    display: flex;
    align-items: center;
}

img {
    height: 1rem;
    width: 1rem;
}